In [3]:
from pysus.online_data.SIH import download
from ftplib import FTP

In [15]:
df = download('ac', 2022, 9)

In [13]:
df.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2021,10,01,63602940000170,1221500013250,1,69925000,120045,19540623,...,,0,0,0,0,0,0,0,0,0
1,120000,2021,10,01,63602940000170,1221500013261,1,69900970,120040,19641128,...,,0,0,0,0,0,0,0,0,0
2,120000,2021,10,03,63602940000170,1221100413588,1,69906095,120040,19610425,...,,0,0,0,0,0,0,0,0,0
3,120000,2021,10,03,63602940000170,1221100413753,1,69914326,120040,19700503,...,,0,0,0,0,0,0,0,0,0
4,120000,2021,10,03,63602940000170,1221100413819,1,69900970,120040,19900605,...,,0,0,0,0,0,0,0,0,0